@font-face{
	src: url('../assets/RobotoCondensedLight.ttf');
	font-family: Roboto Condensed Light;
}
@font-face{
	src: url('../assets/Roboto-Thin.ttf');
	font-family: Roboto Thin;
}
*{
	margin: 0px;
	font-family: Roboto Condensed Light, Helvetica, Arial, "MS Trebuchet", sans-serif;
}

.header-container{
	width: 100%;
	height: 120px;
	background-color: black;
	padding: 10px;
	box-sizing: border-box;
}
.header-author-container{
	transition: .5s ease-in-out;
	position: absolute;
	z-index: 1;
	float: left;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 4px solid purple;
	margin-left: 50px;
	overflow: hidden;
}
.header-author-img{
	width: 100%;
	height: auto;
}
.title-container{
	color: white;
	display: inline;
	margin-left: 250px;
}
.title-container h1,
.title-container p {
	font-family: Helvetica;
	display: inline;
}
.blog-title{
	font-size: 5em;
}
.purple{
	color: purple;
}
.sidebar-container{
	display: block;
	position: relative;
	width: 250px;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	background-color: black;
	color:white;
	padding-top: 50px;
	float: left;
}
.sidebar-social-media{
	display: block;
	width: 100%;
	height: auto;
}
.sidebar-list{
	width: 100%;
	padding: 0px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
	height: 100px;
	margin-top: 20px;
}
.social-media-link{
	float: left;
	border: 1px solid white;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	overflow: hidden;
}
.social-media-link:hover{
	transition: .7s ease-in-out;
	cursor: pointer;
	border: 1px solid green;
}
.social-media-link img{
	height: 100%;
	width: 100%;
}
.navbar-links-container{
	flex-flow: column nowrap;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}
.navbar-links-item{
	background-color: white;
	padding:5px;
	box-sizing: border-box;
	height: 40px;
	width: 75%;
	box-shadow: 3px 3px 0px green;
	display: block;
	margin: 5px auto 0px auto;
	border-radius: 3px;
}
.navbar-links-item:hover{
	box-shadow: 3px 3px 0px purple;
	transition: 1s ease;
}
.navbar-links-item a{
	font-size: 1.2em;
	height: 100%;
	display: block;
	color: black;
	text-decoration: none;
}
footer{
	position: absolute;
	bottom: 0px;
	left: 10px;
}
.content-container{
	position: relative;
	width: calc(100% - 250px);
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 50px 50px;
	background-color: white;
}
.post-title{
	display: inline;
}
.post-meta{
	display: inline;
}
.post-link{
	font-size: 2.3em;
	text-decoration: none;
	color: grey;
}
