body {
  margin: 0;
  overflow-x: hidden;
  height: 800px;
  font-family: 'Lora', serif;
  color: #333;
}
img {
  max-width: 100%;
  margin: 20px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vidaloka';
  text-align: center;
}

pre {
  overflow: scroll;
}
.avatar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 35px;
  background: black;
  color: #ccc;
}
.avatar-container::after {
  content: '';
  position: absolute;
  border-left: 100vw solid black;
  border-bottom: 200px solid transparent;
  border-top: 0px solid transparent;
  width: 100%;
  left: 0;
  top: 35px;
}
.header-container {
  background: white;
}

.header-container a {
  color: inherit;
  text-decoration: none;
}
.header-img {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  top: 50px;
  z-index: 2;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

.info-container {
  display: block;
  margin: 10px auto;
  width: 100%;
  margin-top: 170px;
  text-align: center;
  color: #333;
  font-family: 'Vidaloka';
  font-size: 1.4em;
}

.info-container h1, .info-container p {
  margin: 0 auto;
}

.separator {
  width: 200px;
  margin: 0 auto;
}
.separator p {
  margin-top: -25px;
  display: block;
  width: 1em;
  padding: 0 5px;
  background: white;
  align-text: center;
}
.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  color: #ccc;
  z-index: 4;
}

.links-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}
.link-item {
  margin: 5px 10px;
}

.content-container {
  margin: 0 auto;
  padding: 40px;
}

.content-container.post {
  width: 70vw !important;
  max-width: 700px;
  font-size: 1.2em;
  margin: 20px auto;
}
.article-container {
  margin: 50px 0;
  text-align: center;
  font-size: 1.3em;
}
.article-container a { 
  color: inherit;
  text-decoration: none;
}
.post-title {
  margin: 0;
}
