---
layout: default
title: zypper in void
---
	{% for post in site.posts %}
		{% if (post.tags[0] == 'frontend') %}
			<div data-frontend-tag class="post-container">
				<p class="date">
		      {{post.date | date: '%B %d , %Y'}}
		    </p>
				<h1 class="title"><a href="{{post.url}}">{{post.title}}</a></h1>
			</div>
		{% endif %}
		{% if (post.tags[0] == 'uxdesign') %}
			<div data-ux-tag class="post-container">
				<p class="date">
		      {{post.date | date: '%B %d , %Y'}}
		    </p>
				<h1 class="title"><a href="{{post.url}}">{{post.title}}</a></h1>
			</div>
		{% endif %}
		{% if (post.tags[0] == 'misc') %}
			<div data-misc-tag class="post-container">
				<p class="date">
		      {{post.date | date: '%B %d , %Y'}}
		    </p>
				<h1 class="title"><a href="{{post.url}}">{{post.title}}</a></h1>
			</div>
		{% endif %}
  {% endfor %}
