<header class="box-container header-container">
  <div class="header">
    <h1 class="title"><a href="/index.html">zypper in void</a></h1>
    <nav class="social-media">
      <a class="link" href="#"><i class="fa fa-facebook-f"></i></a>
      <a class="link" href="#"><i class="fa fa-envelope-o"></i></a>
      <a class="link" href="#"><i class="fa fa-instagram"></i></a>
      <a class="link" href="#"><i class="fa fa-medium"></i></a>
      <a class="link" href="#"><i class="fa fa-github"></i></a>
    </nav>
  </div>

  <nav class="tags-container">
    <a data-frontend-tag class="tag-item" href="/frontend/">Frontend</a>
    <a data-ux-tag class="tag-item" href="/uxdesign/">UX Design</a>
    <a data-misc-tag class="tag-item" href="/misc/">Misc</a>
    <!-- <a class="tag-item" href="/bookmarks/">Bookmarks</a>
    <a class="tag-item" href="/portifolio">Portifolio</a>
    <a class="tag-item" href="/aboutme">Sobre Mim</a> -->
  </nav>
</header>
