<header class='header-container'>
  <section class="avatar-container">
    <a href="/">
      <img class="header-img" src="https://avatars0.githubusercontent.com/u/11761724?s=400&u=85548f29af0834d47381f60a1213fb8c514d697e&v=4" alt="">
    </a>
  </section>
  <section class="info-container">  
    <h1 class="header-title"><a href="/">netoguimaraes' blog</a></h1>
    <div class="separator">
      <hr>
      <p>∆</p>

      <ul class="links-list">
        <li class="link-item"><a target="_blank" href="https://medium.com/@netoguimaraes"><i class='fa fa-medium'></i></a></li>
        <li class="link-item"><a target="_blank" href="https://github.com/netoguimaraes"><i class='fa fa-github'></i></a></li>
        <li class="link-item"><a target="_blank" href="mailto:joao.neto.guimaraes@gmail.com"><i class='fa fa-envelope'></i></a></li>
        <li class="link-item"><a target="_blank" href="https://t.me/netoguimaraes"><i class='fa fa-telegram'></i></a></li>
      </ul>
    </div>
  </section>
</header>
