<header class='header-container'>
  <nav class="navbar">
    <ul class="links-list">
      <li class="link-item"><a href="/"><i class='fa fa-home'></i></a></li>
      <li class="link-item"><a href="https://medium.com/@netoguimaraes"><i class='fa fa-medium'></i></a></li>
      <li class="link-item"><a href="https://fb.com/netutu"><i class='fa fa-facebook'></i></a></li>
      <li class="link-item"><a href="mailto:joao.neto.guimaraes@gmail.com"><i class='fa fa-envelope'></i></a></li>
      <li class="link-item"><a href="https://instagram.com/gonetoguimaraes"><i class='fa fa-instagram'></i></a></li>
    </ul>
  </nav>
  <section class="avatar-container">
    <a href="/">
      <img class="header-img" src="https://avatars0.githubusercontent.com/u/11761724?s=400&u=85548f29af0834d47381f60a1213fb8c514d697e&v=4" alt="">
    </a>
  </section>
  <section class="info-container">  
    <h1 class="header-title"><a href="/">netoguimaraes' blog</a></h1>
    <div class="separator">
      <hr>
      <p>∆</p>
    </div>
  </section>
</header>
