<div class="sidebar-container">
	<div class="sidebar-social-media-container">
		<ul class="sidebar-list social-media">
			<li id="facebook" class="social-media-link"><a href="http://fb.com/joaokrustin" target="_blank"><img src="/assets/facebook.png" alt="facebook-icon"/></a></li>
			<li id="github" class="social-media-link"> <a href="http://github.com/netoguimaraes" target="_blank"><img src="/assets/github.png" alt="github icon"/></a></li>
			<li id="portifolio" class="social-media-link"> <a href="http://netoguimaraes.com.br" target="_blank"><img src="/assets/home.png" alt=""/></a></li>
		</ul>
	</div>
	<p>Another blog on the internet</p>
	<nav class="sidebar-navbar">
		<ul class="sidebar-list navbar-links-container">
			<li class="navbar-links-item"><a href="/index.html">Home</a></li>
			<li class="navbar-links-item"><a href="/about">Author</a></li>
			<li class="navbar-links-item"><a href="/bookmark">Bookmark</a></li>
		</ul>
	</nav>
	<footer>
		<p>some aditional info</p>
	</footer>
</div>