<div class="sidebar-container">
	<div class="sidebar-social-media-container">
		<ul class="sidebar-list social-media">
			<li id="facebook" class="social-media-link"><img src="/assets/facebook.png" alt="facebook-icon"/>	</li>
			<li id="github" class="social-media-link"> <img src="/assets/github.png" alt="github icon"/></li>
			<li id="portifolio" class="social-media-link"> <img src="/assets/home.png" alt=""/> </li>
		</ul>
	</div>
	<p>Another blog on the internet</p>
	<nav class="sidebar-navbar">
		<ul class="sidebar-list navbar-links-container">
			<li class="navbar-links-item"><a href="/index.html" target="_blank">Home</a></li>
			<li class="navbar-links-item"><a href="/about" target="_blank">Author</a></li>
			<li class="navbar-links-item"><a href="/bookmark" target="_blank">Bookmark</a></li>
		</ul>
	</nav>
	<footer>
		<p>some aditional info</p>
	</footer>
</div>