<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% include sidebar.html %}
		<div class="content-container">
			<h1 class="post-title">Últimas Postagens</h1>
			<hr>
			<ul>
				{% for post in site.posts %}
			      <li>
					  <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl  }}">{{ post.title  }}</a></h2>
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y"  }}</span>
						{{post.excerpt}}
			      </li>
			  {% endfor %}
				<div class="paginartor">
					{% if paginator.previous_page %}
						<a href="{{paginator.previous_page_path}}" class="page-button">Próximo</a>
					{% endif %}

					{% if paginator.next_page %}
						<a href="{{paginator.next_page_path}}" class="page-button">Próximo</a>
					{% endif %}
				</div>
			</ul>
		</div>
	</body>
</html>
